/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-family: 'Poppins';
}
.title{
  color: #1F4690;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.faq{
    font-family: 'Poppins';
}

.faq .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.faq, .teams{
    color:#1F4690;
    background: #EFEEE5;
}
.faq .title::before,
.teams .title::before{
    background: #EFEEE5;
}
.faq .serv-content
{
   display: flex;
    text-align:center ;
    justify-content: center;
    align-items: center;

}
.faq .serv-content .card{
    width: calc(50% - 20px);
    background: #274546;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.faq .serv-content .card:hover{
    background: #EFEEE5;
    color: #1F4690;
    border-color: #1F4690;
}
.faq .serv-content .card .box{
    transition: all 0.3s ease;
}
.faq .serv-content .card:hover .box{
    transform: scale(1.05);
}
.faq .serv-content .card i{
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}
.faq .serv-content .card:hover i{
    color: #fff;
    border-color:#1F4690;
}
.faq .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* responsive media query start */
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .faq .serv-content .card{
        width: 100%;
    }
}
